html{
    position: relative;
}

body{
    margin-bottom: 120px;
    margin-top: 30px;
}

/*Jumbotron*/
.jumbotron img{
    width: 200px;
    border: 5px solid #333;
}

/*hr*/
hr{
    width: 250px;
    border-top: 4px solid #666;
    text-align: center;
}

/*Section*/
section{
    min-height: 600px;
}

/*Portofolio*/
.portofolio{
    background-color: #eee;
}

.contact{
    min-height: 800px;
}

footer{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #333;
    padding-top: 30px;
}

footer p{
    color: #aaa;
    font-size: 1em;
}

